<ion-header>

  <ion-navbar class="global-top-navbar" color=navbar>
    <ion-title>PRICE LIST</ion-title>
  </ion-navbar>

</ion-header>

<!--<ion-toolbar>
  <ion-segment [(ngModel)]="pet">
    <ion-segment-button value="Ironing">
      Ironing
    </ion-segment-button>
    <ion-segment-button value="Dry Cleaning">
      Dry Cleaning
    </ion-segment-button>
    <ion-segment-button value="Alterations">
      Alterations
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>-->
<ion-content>
  <div padding>
    <ion-toolbar class="pricing-segment">
      <ion-segment [(ngModel)]="service">
        <ion-segment-button value="ironing" class="global-text-content">
          Ironing
        </ion-segment-button>
        <ion-segment-button value="dry-cleaning" no-border>
          Dry-cleaning
        </ion-segment-button>
        <ion-segment-button value="wash-iron">
          Wash-Iron
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </div>

  <div [ngSwitch]="service">

    <ion-list *ngSwitchCase="'ironing'">
      <ng-container *ngFor="let ironingItem of ironingItems">
        <ion-item *ngIf="ironingItem.isActive" no-lines>
          <ion-grid>
            <ion-row class="global-text-content">
              <ion-col text-center text-align="justify">
                <h2>{{ironingItem.name.toUpperCase()}}</h2>
              </ion-col>
              <ion-col text-left>
                <h2>{{ironingItem.currency}}{{ironingItem.cost}}</h2>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ng-container>
    </ion-list>

    <ion-list *ngSwitchCase="'dry-cleaning'">
      <ng-container *ngFor="let dryCleanItem of dryCleanItems">
        <ion-item *ngIf="dryCleanItem.isActive" no-lines>
          <ion-grid no-border="false">
            <ion-row class="global-text-content">
              <ion-col text-center>
                <h2>{{dryCleanItem.name.toUpperCase()}}</h2>
              </ion-col>
              <ion-col text-left>
                <h2>{{dryCleanItem.currency}}{{dryCleanItem.cost}}</h2>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ng-container>
    </ion-list>

    <ion-list *ngSwitchCase="'wash-iron'">
      <ng-container *ngFor="let washIronItem of washIronItems">
        <ion-item *ngIf="washIronItem.isActive" no-lines>
          <ion-grid>
            <ion-row class="global-text-content">
              <ion-col text-center>
                <h2>{{washIronItem.name.toUpperCase()}}</h2>
              </ion-col>
              <ion-col text-left>
                <h2>{{washIronItem.currency}}{{washIronItem.cost}}</h2>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ng-container>
    </ion-list>

  </div>
</ion-content>
