<ion-header>

  <ion-navbar [hideBackButton]="true" class="global-top-navbar">
    <ion-title>Order History</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item *ngIf="!isUserAuthenticated" no-lines>
    <ion-label class="errorDisplay">You haven't ordered with us yet!</ion-label>
  </ion-item>
  <ion-list>
    <button ion-item *ngFor="let order of previousOrders" (click)="itemSelected(order)">
      {{ order.creationDate }} - {{ order.orderType }}- {{ order.customer.name }}
    </button>
  </ion-list>
</ion-content>
