page-schedule {

  agm-map {
       height: 300px;
     }

  p {
    padding-left: 100px;
    font-size: 11px;
    line-height: 1.5;
    color: black;
    text-align: right;

    b {
      color: #000000;
    }
  }

  row-divider-schedule{
    top:22%;
    padding-bottom: 10%;
  }

  buttoncss{
    color:#00A1D0;
  }

  local-info-label{
    text-align: center;
  }

}
