<ion-header>
  <ion-navbar [hideBackButton]="true" class="global-top-navbar" color=navbar>
    <ion-title>MY ACCOUNT</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

 <ion-card>
    <ion-card-header>Select Object</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label></ion-label>
          <ion-select [(ngModel)]="pickUpDates">
            <ion-option *ngFor="let pickUpDate of pickUpDates" [value]="pickUpDate">{{pickUpDate}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-item>
    <ion-label stacked>Colors</ion-label>

    <ion-select ngControl="colorControl" [(ngModel)]="selectedColor">
      <ion-option *ngFor="let color of colors" [value]="color">{{color.name}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-list no-border>

    <ion-item-divider color="light">SCHEDULE DROPOFF</ion-item-divider>
    <ion-item>
      <ion-label>Dropoff Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" (ionChange)="RefreshPickUpDate()" [(ngModel)]="date1" >{{date1}}</ion-datetime>
    </ion-item>

    <ion-item-divider color="light">SCHEDULE PICKUP</ion-item-divider>

    <ion-item>
      <ion-label>Pickup Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY"  [(ngModel)]="date2" value="date2">{{date2}}</ion-datetime>
    </ion-item>
  </ion-list>



</ion-content>
<ion-footer>

  <button
    ion-button
    full
    color=navbar
  >
    SAVE
  </button>
</ion-footer>
